* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(15, 20, 20);
}

.grid-container {
  width: 90%;
  height: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.box1 {
  grid-column: 1/3;
  grid-row: 1/4;
  background-color: #1a292d;
  color: white;
}

.box2 {
  grid-column: 3/5;
  grid-row: 1/3;
  background-color: #ffffff;
}

.box3 {
  grid-column: 5/7;
  grid-row: 1/2;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  color: rgb(87, 85, 85);
}

.box3 p {
  text-align: center;
  max-width: 200px;
  color: rgb(143, 135, 135);
}
.box4 {
  grid-column: 5/7;
  grid-row: 2/4;
}
.box5 {
  grid-column: 3/5;
  grid-row: 3/4;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  color: rgb(87, 85, 85);
}
.box5 p {
  text-align: center;
  max-width: 200px;
  color: rgb(143, 135, 135);
}

.outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.child1 {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.child1 a {
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  padding: 0 1rem;
}
.child2 {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* gap: 2rem; */
}
.child2 h1 {
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
}
.child2 p {
  padding: 1rem;
  line-height: 1.6rem;
  text-align: center;
  text-indent: 1rem;
}
.child3 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 3rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  .container {
    height: auto;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .grid-container img {
    height: auto;
    width: auto;
  }
  .box1,
  .box2,
  .box3,
  .box4,
  .box5 {
    grid-column: auto;
    grid-row: auto;
  }
  .outer {
    height: auto;
  }
  .child1 {
    height: auto;
    margin-bottom: 4rem;
    width: 100%;
  }
  .child2 {
    height: auto;
    gap: 2rem;
    width: 100%;
  }
  .child3 {
    height: auto;
    margin-top: 2rem;
    width: 100%;
  }

  .box2 img {
    width: 100%;
  }

  .box4 img {
    width: 100%;
  }

  .box3 {
    padding: 3rem;
  }
  .box5 {
    width: 100%;
    padding: 4rem;
  }
}
